<form action="" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div id="userData" ngModelGroup="userData">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="text" name="userName" class="form-control" ngModel required />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        ngModel
        required
        email
        #email="ngModel"
      />
      <span *ngIf="!email.valid && email.touched">email is not valid</span>
    </div>
  </div>
  <div class="form-group">
    <label for="question">Select an Option</label>
    <!-- <select class="form-control" name="question" id="question" ngModel required> -->
    <!-- one way data binding -->
    <select
      class="form-control"
      name="question"
      id="question"
      [ngModel]="defaultOption"
      required
    >
      <option value="Q1">Q1</option>
      <option value="Q2">Q2</option>
      <option value="Q3">Q3</option>
    </select>
  </div>
  <div class="form-group">
    <!-- two way data binding -->
    <label for="answer">Answer</label>
    <textarea
      class="form-control"
      name="answer"
      id="answer"
      rows="5"
      [(ngModel)]="answer"
      required
    ></textarea>
  </div>
  your answer: {{ answer }}
  <div class="form-check" *ngFor="let gender of genders">
    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input"
        name="gender"
        id="gender"
        [value]="gender"
        ngModel
        required
      />
      {{ gender }}
    </label>
  </div>

  <div class="form-group">
      <button
        type="submit"
        [disabled]="f.invalid"
        class="form-control btn btn-primary my-2"
      >
        Submit
      </button>
    </div>
  
  <div class="card" *ngIf="submitted">
    <h2>data you have entered :</h2>
    <p>user name : {{ userData.userName }}</p>
    <p>email : {{ userData.email }}</p>
    <p>question : {{ userData.question }}</p>
    <p>answer : {{ userData.answer }}</p>
    <p>gender : {{ userData.gender }}</p>
  </div>
</form>
