<div class="list-group">
  <a routerLink="/" class="list-group-item list-group-item-action active"
    >Fundamentals Menu :</a
  >
  <a routerLink="/syntax" class="list-group-item list-group-item-action"
    >Template Syntax: string interpolation, data binding and Pipes </a
  >
  <a routerLink="/sharing-data" class="list-group-item list-group-item-action"
    >Sharing Data between component: @input, @Output and service </a
  >
  <a routerLink="/http-client" class="list-group-item list-group-item-action"
    >Service > Http Client</a
  >
  <a routerLink="/forms" class="list-group-item list-group-item-action"
    >Forms > Template | reactive</a
  >
  <a routerLink="" class="list-group-item list-group-item-action disabled"
    >More soon ...</a
  >
</div>
